@{
    Layout = "../Shared/_Layout.cshtml";
}

<div id="app"></div>

@if (ViewBag.IsLocal)
{
    <script type="text/javascript" src="https://loc.designprofile.vistaprint.io:9000/static/js/bundle.js"></script>
}
else
{
    <script type="text/javascript" src="/Content/main.bundle.js"></script>
    <link rel="stylesheet" href="/Content/main.css" type="text/css" />
    <link rel="stylesheet" href="/Content/main.sass.css" type="text/css" />
}

<script type="text/javascript">
    function createCookie(name,value,minutes) {
        var expires = "";
        if (minutes) {
            var date = new Date();
            date.setTime(date.getTime() + (minutes*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }

    function deleteCookie(name) {
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    };

    function fireShopperUpdatedEvent() {
        if (document.createEvent) {
            shopperKeyUpdatedEvent = document.createEvent("HTMLEvents");
            shopperKeyUpdatedEvent.initEvent("shopperKeyUpdated", true, true);
        } else {
            shopperKeyUpdatedEvent = document.createEventObject();
            shopperKeyUpdatedEvent.eventType = "shopperKeyUpdated";
        }

        shopperKeyUpdatedEvent.eventName = "shopperKeyUpdated";

        if (document.createEvent) {
            window.dispatchEvent(shopperKeyUpdatedEvent);
        } else {
            window.fireEvent("on" + shopperKeyUpdatedEvent.eventType, shopperKeyUpdatedEvent);
        }
    }

    window.vpBaseUrl = '@(ViewBag.VpSecureBaseUrl)';
    window.enviroment = '@(ViewBag.Enviroment)';
    let shopperKeyUpdatedEvent = null;

    window.addEventListener("message", function (e) {
        try {
            let message = JSON.parse(e.data);
            if (typeof message !== 'undefined' && message !== null && typeof message.shopperKey !== 'undefined' && message.shopperKey !== null) {
                var currentKey = getCookie('shopperKey');
                createCookie('shopperKey', message.shopperKey, 60);
                if (typeof message.prices !== 'undefined' && message.prices !== null) {
                    window.pricingDictionary = message.prices;
                    if (typeof message.sessionId !== 'undefined' && message.sessionId !== null) {
                        window.sessionId = message.sessionId;
                    }
                }

                if (currentKey !== message.shopperKey) {
                    fireShopperUpdatedEvent();
                }
            }
        } catch(e) {};
    }, false);
</script>
