.profile-container
  position: relative
  background-color: #f0f2f3

  .top-section-collapsed
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    justify-content: space-between
    @media screen and (max-width: 450px)
      justify-content: center
    background-color: white
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    .header, button
      margin: 20px 40px
    
    .header
      font-size: 26px
      font-weight: bold
      letter-spacing: 2.5px
      @media screen and (max-width: 450px)
        display: none
    
    button
      font-size: 16px
      font-weight: bold
      letter-spacing: 0.2px
      line-height: 1.26
      background-color: #399dcb

  .top-section
    position: relative
    @media screen and (max-width: 1025px)
      min-height: 560px
    @media screen and (max-width: 772px)
      min-height: 450px
    @media screen and (max-width: 450px)
      background: url('/Content/images/ppage/background-xsmall.png')
      padding-top: 20px
      min-height: 450px
      background-repeat: no-repeat
      background-size: cover
      background-position: center top   
    background: url('/Content/images/ppage/background.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center top
    min-height: 700px
    max-width: 1500px
    margin: 0 auto

  .edit-panel
    background-color: #ffffff
    box-shadow: 0 1px 0 0 #dddddd
    border: solid 1px #e8e8e8

    input::placeholder
      color: #bababa
      font-style: normal

    .profile-section
      padding: 20px
      border-bottom: solid 1px #e2e2e2

      &:last-of-type
        border-bottom: none

    .logo-thumbnail
      width: 90px
      height: 90px
      border-radius: 5px
      border: solid 1px #c5c5c5
      cursor: pointer
      margin-bottom: 5px
      position: relative
      background-size: contain
      background-color: #ffffff
      background-position: center
      background-repeat: no-repeat

    .logo-thumbnail-blank
      width: 90px
      height: 90px
      border-radius: 5px
      border: solid 1px #c5c5c5
      cursor: pointer
      margin-bottom: 5px
      position: relative
      background-size: contain
      background-color: #f5f5f5
      background-position: center
      background-repeat: no-repeat
