.preview-item-hidden
  border-radius: 5px
  background-color: #ffffff
  border: solid 1px #c5c5c5
  cursor: pointer
  display: inline-block
  vertical-align: middle
  padding: 8px
  width: 31%
  min-width: 380px
  display: none


.preview-item
  border-radius: 3px
  background-color: #ffffff
  border: solid 1px #c5c5c5
  cursor: pointer
  display: inline-block
  vertical-align: middle
  padding: 8px
  width: 360px
  max-width: 360px
  margin-bottom: 10px
  min-height: 220px
  
  &:hover
    border: 1px solid #399dcb
  @media screen and (max-width: 450px)
    max-width: 94%
  


.preview-item:hover
  -webkit-box-shadow: 2px 2px 2px 2px #ddd
  -moz-box-shadow:    2px 2px 2px 2px #ddd
  box-shadow:         2px 2px 2px 2px #ddd


.preview-item .preview-overlay
  display: none
  position: absolute


.preview-item .portfolio-save-button
  display: none
  position: absolute


.preview-item .preview-item-saved
  display: block
  position: absolute
  background-color: green
  margin-left: -8px
  margin-top: -8px
  width: 100%
  height: 25px
  z-index: 0
  padding-top: 4px
  padding-bottom: 2px


.preview-item .preview-item-saved-message
  font-size: 14px
  color: white
  text-align: left
  float: left
  margin-left: 5px
  z-index: 0


.preview-item .preview-item-view-portfolio
  font-size: 14px
  color: white
  text-align: right
  margin-right: 5px
  z-index: 12


.preview-item:hover .preview-overlay
  display: block
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  border-radius: 4px
  z-index: 10


.preview-item:hover .portfolio-save-button
  display: block
  position: absolute
  text-transform: none
  right: 15px
  top: 15px
  font-size: 10px
  padding: 0px 10px
  color: white
  background-color: darkgray
  border: none
  z-index: 11


.preview-item:hover .preview-item-saved, .preview-item-saved-message
  z-index: 11


.preview-image-placeholder
  width: 100%
  cursor: pointer
  filter: blur(3px)


.preview-image
  width: 100%
  cursor: pointer


.preview-image-hidden
  display: none


.preview-item-footer
  padding: 5px 5px 5px 5px
  float: clear
  font-size: 0.93rem


.preview-item-footer-product
  text-align: left
  float: left
  font-weight: 700
  margin-right: 10px


.preview-item-footer-price
  text-align: right
  font-size: 0.75rem


.strikeout-price
  text-decoration: line-through


.discount-price
  color: #eb0a87
  font-weight: bold
