.select-logo-container
  position: absolute
  left: 50%
  transform: translateX(-50%)
  @media screen and (max-width: 1025px)
    margin-top: 20px
  @media screen and (max-width: 770px)
    margin-top: 10px
  margin-top: 60px

  h1
    @media screen and (max-width: 770px)
      font-size: 1.3rem
    @media screen and (max-width: 450px)
      font-size: 1rem
    font-size: 1.5rem
    font-weight: bold
    line-height: 0.94
    text-align: center
    color: #38454f
    letter-spacing: inherit

  .no-logo
    @media screen and (max-width: 450px)
      font-size: 0.875rem 
    font-size: 1rem
    line-height: 1.21
    text-align: center
    color: #38454f
    margin-top: 10px

    .emphasized
      font-weight: bold
      color: #399dcb
      display: inline
      cursor: 'pointer'
      @media screen and (max-width: 450px)
        display: block

  .dropzone, 
  .logo-success-overlay,
  .logo-container
    @media screen and (max-width: 450px)
      width: 120px
      height: 110px
    width: 140px
    height: 130px
    position: relative
  
  .dropzone
    display: block
    margin: 0 auto
    font-size: 15.4px
    font-weight: bold
    line-height: 1.21
    text-align: center
    color: #0199e0
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)), linear-gradient(#f8f8f8, #f8f8f8)
    flex: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    cursor: pointer
    pointer-events: all
  
  .initial-logo-state
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

  .logo-container
    border: dashed 2px #858f97
    pointer-events: none
    
    .logo-success-overlay
      display: none
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: rgba(255, 255, 255, 0.8);
      pointer-events: none
      background-image: #ffffff
      border: dashed 2px #0199e0
      position: absolute

    img
      width: 36px
      height: 36px
      margin: 0 auto
      margin-bottom: 12px
      display: block
      pointer-events: none
    
    .logo-success-image
      max-width: 100%
      max-height: 100%
      height: auto
      width: auto
      pointer-events: none
      
    input
      pointer-events: none
  
  &:hover
    .logo-success-overlay
      pointer-events: all
      display: flex
