﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DesignProfile Application</title>

    <link rel="shortcut icon" type="image/ico" href="/Content/images/favicon.png" />
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','@ViewBag.GoogleTagManagerKey');</script>
    <!-- End Google Tag Manager -->


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

    <script type="text/javascript" src="//cdn.jsdelivr.net/fingerprintjs2/1.4.1/fingerprint2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.contentWindow.min.js"></script>

    <script type="text/javascript">
        if (localStorage.getItem("HATCHERY_FINGERPRINT")) {
            window.HATCHERY_FINGERPRINT = localStorage.getItem("HATCHERY_FINGERPRINT");
        } else {
            new Fingerprint2().get(function (result, components) {
                window.HATCHERY_FINGERPRINT = result;
                localStorage.setItem("HATCHERY_FINGERPRINT", result);
            });
        }

        var _authServiceKey = "@ViewBag.AuthServiceKey";
        var _authServiceUrl = "@ViewBag.AuthServiceUrl";
    </script>
</head>

<body>

@if (!string.IsNullOrEmpty(ViewBag.GoogleTagManagerKey))
{
    <!-- Google Tag Manager (noscript) -->

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=@ViewBag.GoogleTagManagerKey"
                height="0" width="0" if;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
}

    @RenderBody()

    <!-- Hatchery Event Logging -->
<script type="text/javascript">
    loadScript('/Scripts/hatchery-utils.js', function() {
        HATCHERY.init({});
    });

    function loadScript(url, callback) {
        var head = document.getElementsByTagName("head")[0];

        var script = document.createElement("script");
        script.onload = callback;
        script.src = url;

        head.appendChild(script);
    }
</script>

</body>
</html>
