.preview-panel
  background-color: #f0f2f3
  margin: 10px 0 -30px 0

  .preview-gallery
    display: inline-block
    margin: 0 auto
    max-width: 1200px
    padding-bottom: 50px
    width: 100%
    display: flex