.preview-modal-parent-container
  .veil
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: rgba(0,0,0,0.5)
    z-index: 50

  .close-btn
    position: absolute
    top: 10px
    right: 15px
    font-size: 1.5rem
    color: #38454f
    cursor: pointer

    &:hover
      color: #399dcb

  .cart-message
    position: absolute
    bottom: 0
    width: 100%
    overflow: hidden
    transition: all 1s
    z-index: 51

  .cart-message-off
    position: absolute
    bottom: -100px
    width: 100%
    overflow: hidden
    transition: all 1s
    z-index: 51

  .cart-image
    width: 100%

  .preview-modal-container
    position: fixed
    left: 50%
    top: 10%
    transform: translateX(-50%)
    width: 841px
    border-radius: 3.2px
    background-color: #ffffff
    box-shadow: 0 2px 3px 0 #d4dde1, 0 2px 4px 0 rgba(0, 0, 0, 0.5)
    z-index: 100
    padding: 20px
    display: flex
    flex-direction: row
    align-items: space-between
    justify-content: flex-start
    max-width: 80%

    .sucess-message-container
      min-width: 100%
      position: relative
      display: flex
      flex-direction: column
      margin: 30px auto
      
      div
        margin: 0 auto
        width: 80%
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        margin: 5px auto
      h1
        font-size: 1.1rem
        margin-left: 10px
      button
        margin: 20px 10px
        font-size: 1rem
        width: 230px
        color: white
        font-weight: bold
        letter-spacing: inherit
      .continue
        background-color: #05a34a
      .go-to-cart
        background-color: #858f97
      img
        width: 30px

    .size-selector-group
      margin-bottom: 10px

    .size-text
      min-width: 35px
      display: inline-block
      font-size: 1rem

    .modal-image-container
      max-width: 60%
      @media screen and (max-width: 450px)
        display: none

    .modal-preview-image
      max-width: 90%

    h1
      font-size: 1rem
      font-weight: bold
      text-align: left
      color: #000000
      margin: 5px 0
      letter-spacing: 0

    h2
      font-size: 0.875rem
      text-align: left
      color: #000000
      margin: 5px 0 20px 0
      letter-spacing: 0

    h3
      font-size: 0.875rem
      font-weight: bold
      text-align: left
      color: #000000
      margin: 5px 0 15px 0
      letter-spacing: 0

    select
      width: 170px
      height: 35px
      border-radius: 4px
      background-image: linear-gradient(to bottom, #ffffff, #fafafa)
      border: solid 1px #d4dde1
      font-size: 0.9rem

    .primary-button
      display: block
      width: 189px
      height: 46px
      border-radius: 4px
      background-color: #399dcb
      font-size: 0.875rem
      font-weight: 600
      text-align: center
      color: #ffffff
      margin: 60px auto 0 auto

    .secondary-action
      display: block
      font-size: 0.8125rem
      font-weight: bold
      text-align: center
      color: #38454f
      margin-top: 10px
      cursor: pointer
    
    .secondary-action-off
      color: #33cc33
      cursor: default
