.designprofile-header
  color: #38454F
  text-align: center

  h1
    font-size: 19px
    margin-bottom: 0

  h2
    font-size: 32px
    font-weight: bold

  h3
    @media screen and (max-width: 1025px)
      padding-top: 20px
    @media screen and (max-width: 770px)
      padding-top: 15px
      font-size: 1.6rem
      width: 60%
    @media screen and (max-width: 450px)
      padding-top: 0px
      font-size: 1.4rem
      width: 75%
    font-size: 2rem
    font-weight: bold
    color: #38454f
    width: 50%
    margin: 0 auto
    padding-top: 75px
