@import '~skeleton-css/css/skeleton.css';
@import '~skeleton-css/css/normalize.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';


@font-face { font-family: MarkPro; src: url("/Content/app/public/MarkWeb-Bold_modified.woff") format("woff"); font-weight: bold; }
@font-face { font-family: MarkPro; src: url("/Content/app/public/MarkWeb-Light_modified.woff") format("woff");  }

html{
  font-size: 16px; /* THIS DRIVES THE RELATIVE SIZE OF THE TEXT ON THIS PAGE. IF YOU MODIFY IT, TEST RESPONSIVE-NESS AFTER  */
}

@media screen and (max-width: 770px){
  html{
    font-size: 14px;
  }
}

button{
  border: none;
}

html,body {
  font-family: MarkPro, 'OpenSans', 'Arial';
}

.container {
  background-color: #ffffff;
  min-width: 100%;
  padding: 0 !important;
}

/* general styles for profile edit section */
.panel-prefix {
  font-size: 12px;
  font-weight: bold;
  color: #9c9c9c;
}

.panel-title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.panel-edit-link {
  font-size: 14px;
  color: #1b96c0;
  cursor: pointer;
}

.panel-section-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.panel-separator {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #e2e2e2;
}

.button-primary-disabled {
  color: #FFF;
  background-color: #CCCCCC;
  border-color: #CCCCCC;
  cursor: default !important;
}

/* styles for business details edit section */
.logo-thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: solid 1px #c5c5c5;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
}

.logo-thumbnail img {
  max-height: 90px;
  max-width: 90px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.react-spinners--moon{
  display: inline-block;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  background-color: #cccccc;
  border: solid 1px #c5c5c5;
  opacity: 0.5;
  margin-left: 6px;
  margin-top: 6px;
}

.preview-spinner {
  margin-left: 250px;
  margin-top: 150px;
}

.preview-spinner div div div:first-child {
  top: 115px !important;
}

.preview-spinner div div div:last-child {
  width: 200px !important;
  height: 200px !important;
}

input.u-full-width {
  margin-bottom: 5px;
}

select.u-full-width {
  margin-bottom: 5px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.business-details {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.3px;
  color: #000000;
}

.business-details .title {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.3px;
  color: #000000;
}

.business-details .tagline {
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  letter-spacing: -0.3px;
  color: #000000;
}

.current-logo {
  max-width: 120px;
  max-height: 120px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: solid 1px #c5c5c5;
}

.portfolio-image-box {
  width: 130px;
  height: 90px;
  border-radius: 5px;
  border: solid 1px #c5c5c5;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.portfolio-image {
  max-height: 80px;
  max-width: 120px;
}


/* styles for color section */
.color-palette-box {
  background-color: #f5f5f5;
  text-align: center;
  padding: 30px;
}

.create-palette-button {
  text-align: center;
}

.react-color-swatch {
  position: absolute;
}

.color-swatch {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #c5c5c5;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #c5c5c5;
  text-align: center;
  vertical-align: middle;
  font-size: 33px;
}

.color-swatch-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #c5c5c5;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #c5c5c5;
  text-align: center;
  vertical-align: middle;
  font-size: 38px;
}

.twitter-picker {
  display: hidden;
}


/* style for font section */
.font-selection-label {
  font-family: 'OpenSans', 'Arial';
  font-size: 14px;
  font-weight: bold;
  color: #9c9c9c;
}

.font-summary {
  font-family: 'OpenSans', 'Arial';
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.font-selected {
  background-repeat: no-repeat;
  height: 20px;
  width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid;
  text-align: right;
}

.font-view {
  background-repeat: no-repeat;
  height: 20px;
  width: 200px;
}

.font-div {
  background-repeat: no-repeat;
  height: 20px;
  width: 200px;
  cursor: pointer;
}

.font-list {
  border: solid 1px #c5c5c5;
  background-color: #ffffff;
  position: absolute;
  overflow-x: none;
  overflow-y: scroll;
  height: 300px;
}