.matching {
}

.matching-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.matching-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.matching-intro {
  font-size: large;
}

@keyframes matching-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.proto-image{
  float: right;
}

.color-picker{
  float: left;
  margin: 0 10px 0 10px;
}

.react-spinners--ring{
  display: inline-block;
}

.image-container:hover{
  background: black;
}
.image-container{
  width:100%;
}

.image-container img{
  max-width: 1000px;
}
